.page-section {
	padding: 3rem 0;
	@mixin atMedium {
		padding: 1.5rem 0;
	}

	&__blue {
		background-color: $mainBlue;
		color: #FFF;
	}
	&__testimonials {
		background-color: #E0E6EF;
		background-size: cover;
	}
	&__no-b-padding-until-medium {
		padding-bottom: 1rem;
		@mixin atMedium {
			padding-bottom: 4.5rem;
		}
	}
	&__no-b-padding-until-large {
		padding-bottom: 1rem;
		@mixin atLarge {
			padding-bottom: 4.5rem;
		}
	}
	&__profile {
		display: flex;
		display: flex;
    background-color: #ffcc00;
		background: radial-gradient(#ffffff, #aebfcb);
    color: #4a4a4a;
		@mixin atMedium {
			padding-top: 5rem;
		}
	}
	&__tech {
		background: #fffdfd;
	}

	&__projects {
		display: flex;
	}
	&__experience {

	}
	&__bg {
		position: absolute;
    z-index: 10;
    height: 100px;
    width: 100%;
		img {
			max-width: 100%;
			height: auto;
			position: absolute;
		}
	}
}
